<div class="text-center">
<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% recipe.errors.each do |error| %> <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name, placeholder: 'Name' %><br><br>
  <%= form.text_field :preparation_time, placeholder: 'Preparation_time' %><br><br>
  <%= form.text_field :cooking_time, placeholder: 'Cooking_time' %><br><br>
  <%= form.text_field :description, placeholder: 'Description' %><br>
  <div class="ms-5"><%= form.label :public,class:"fs-5 py-1" %>
  <%= form.check_box :public %></div>
  <%= form.submit class:"btn btn-outline-dark"%>
<% end %>
</div>