<% if !@recipes.empty?%>
 <h1 class="text-center pb-2">Recipes</h1>
 <div id="recipes" class="text-center">
  <% @recipes.each do |recipe| %>
  <div class="border border-dark mb-3 d-flex gap-5">
     <div id="<%= dom_id recipe %>" class="d-flex flex-column ps-5">
         <p class="fs-2"><%= recipe.name %></p>
          <p> <%= button_to "Destroy this recipe", recipe, method: :delete, class: "btn btn-dark btn-sm" %><br></p>
      </div>
     <p class="fs-3"><%= recipe.description %></p>
  </div>
  <% end %>
 </div>
 <% if user_signed_in? %>
   <%= link_to "New recipe", new_recipe_path , class: "text-decoration-none" %>
 <% end %>
<%end%>