<div class="">
    <h1 class="">Shopping List</h1>
    <div class="">
     <h6>Amount of food items to buy: <%=@foods.size %></h6>
     <% sum = 0 %>
     <% @foods.each do |food| %>
        <% sum += food.food.price * food.quantity %>
     <% end %>
     <h6>Total value of food needed: $<%= sum %></h6>
    </div>
  <table class="">
  <thead>
    <tr>
      <th class="">Food</th>
      <th class="">Quantity</th>
      <th class="">Price</th>
    </tr>
  </thead>
  <tbody>
     <% @foods.each do |food| %>
    <tr>
      <td><%= food.food.name %></td>
      <td><%= "#{food.food.quantity} #{food.food.measurement_unit}" %></td>
      <td>$<%= food.food.price %></td>
      </td>
    </tr>
     <% end %>
  </tbody>
</table>
</div>